apiVersion: v1
kind: PersistentVolume
metadata:
  name: grq-elasticsearch-pv
  labels:
    type: local
    component: grq
    run: grq-elasticsearch-pv
spec:
  storageClassName: manual
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  cinder: 
    fsType: ext3
    volumeID: __CINDER_VOL_ID__
